.container {
  height: 100%;
  background-color: #F3F3F3;
}
.container .header {
  position: relative;
  height: 0.92rem;
  line-height: 0.92rem;
  background-color: #F7F7F7;
}
.container .header a img {
  position: absolute;
  top: 20%;
  width: 0.54rem;
  height: 0.54rem;
  margin-left: 0.1rem;
}
.container .header p {
  text-align: center;
  font-size: 0.38rem;
}
.container .content .item {
  margin-top: 0.4rem;
}
.container .content .item .iptPwd {
  height: 0.8rem;
  width: 90%;
  margin: 0 auto;
  border: none;
  text-indent: 0.2rem;
}
.container .content .item .btn {
  height: 0.94rem;
  width: 90%;
  margin: 0 auto;
  border: none;
  background-color: #F76968;
  color: #ffffff;
}
.container .content .Tips {
  font-size: 0.24rem;
  color: #A9A9A9;
  text-align: center;
  margin-top: 0.2rem;
}
.container .content .forgetPwd {
  text-align: center;
  margin-top: 1rem;
}
.container .content .forgetPwd a {
  font-size: 0.36rem;
  color: #1890FF;
}
.textSty {
  color: #1890FF;
  border-bottom: 0.02rem solid rgba(24, 144, 255);
}
