.container {
  height: 100%;
  background-color: #F3F3F3;
}
.container .header {
  position: relative;
  height: 0.92rem;
  line-height: 0.92rem;
  background-color: #F7F7F7;
}
.container .header a img {
  position: absolute;
  top: 20%;
  width: 0.54rem;
  height: 0.54rem;
  margin-left: 0.1rem;
}
.container .header p {
  text-align: center;
  font-size: 0.38rem;
}
.container .content .item {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-top: 0.4rem;
}
.container .content .item .tips {
  font-weight: 550;
  font-size: 0.28rem;
}
.container .content .item .iptPwd,
.container .content .item .iptPhone {
  height: 0.8rem;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-indent: 0.2rem;
}
.container .content .item .textNum {
  height: 0.8rem;
  width: 75%;
  border: none;
  text-indent: 0.2rem;
}
.container .content .item .textNumBtn {
  height: 0.8rem;
  width: 20%;
  border: none;
  background-color: #F76968;
  color: #ffffff;
}
.container .content .item .btn {
  height: 0.94rem;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: #F76968;
  color: #ffffff;
}
.container .content .Tips {
  font-size: 0.24rem;
  color: #A9A9A9;
  text-align: center;
  margin-top: 0.2rem;
}
.textSty {
  color: #1890FF;
  border-bottom: 0.02rem solid rgba(24, 144, 255);
}
