.content {
  padding: 2rem 0;
  display: block;
  text-align: center;
  background-color: #fff;
  font-size: 0.93rem;
  color: #101010;
}
.content .file {
  margin-bottom: 3.33rem;
}
.content .file .icon-fujian {
  color: #A22D2D;
}
