.device-img {
  width: 100%;
}
.card {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 0.5rem;
}
.card .title {
  font-size: 1.33rem;
  color: #101010;
  text-align: center;
}
.card p {
  padding-top: 1.33rem;
  font-size: 0.93rem;
  color: #101010;
}
