.content .card {
  margin-top: 0.26rem;
  color: #101010;
  display: block;
  background-color: #fff;
}
.content .card .card-title {
  padding: 0 1.33rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .card .card-title h4 {
  line-height: 3.26rem;
  font-size: 0.93rem;
}
.content .card .card-content {
  border-top: 0.04rem solid #E4E4E4;
  line-height: 2.6rem;
  padding: 0 1.33rem;
  font-size: 0.93rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
