.content {
  background-color: #fff;
}
.content .title {
  font-size: 1.2rem;
  line-height: 2.13rem;
  color: #101010;
  background-color: #D7D4D4;
  padding: 0 0.66rem;
}
.content .item {
  height: 3.33rem;
  padding: 0 1.33rem;
  display: flex;
  align-items: center;
  border-bottom: 0.04rem solid #F2F2F2;
}
.content .item label {
  display: block;
  min-width: 5rem;
  font-size: 1.2rem;
  text-align: right;
}
.content .item input {
  font-size: 1.2rem;
  padding-left: 0.66rem;
}
.content .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.33rem;
  height: 3.13rem;
  border-bottom: 0.04rem solid #eee;
  color: #101010;
}
.content .status {
  font-size: 1.2rem;
  line-height: 3.66rem;
  color: #C90707;
  padding-left: 1.33rem;
}
