.tab-wrap {
  margin-top: 0.2rem;
  display: flex;
  background-color: #F0F2F5;
}
.tab-wrap > span {
  flex: 1;
  font-size: 0.93rem;
  color: #303133;
  line-height: 2.46rem;
  text-align: center;
}
.tab-wrap > span.active {
  background-color: #EF0505;
  color: #fff;
}
.item {
  height: 3.3rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 0.33rem;
  padding: 0.93rem;
}
.item .item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item .item-left .item-title {
  font-size: 1.066rem;
}
.item .item-left .time {
  font-size: 0.93rem;
  color: #9C9A9A;
}
.item .item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.widthdraw {
  display: none;
}
.widthdraw .widthdraw-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
