a,
article,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
i,
img,
input,
li,
nav,
ol,
option,
p,
section,
select,
span,
strong,
textarea,
ul {
  margin: 0;
  padding: 0;
}
html {
  background: #fff;
}
body,
html {
  width: 100%;
  min-height: 100vh;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #eee;
  box-sizing: border-box;
  min-height: inherit;
}
a {
  text-decoration: none;
}
textarea {
  overflow: auto;
  resize: none;
}
a,
button,
img,
input,
textarea,
video {
  outline: 0;
  border: none;
}
li,
ul {
  list-style: none;
}
.hide {
  visibility: hidden;
}
.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.66rem;
  background-color: #f7f7f7;
}
.title-box .icon-zuo {
  font-size: 1.66rem;
  color: #101010;
}
.title-box .title {
  font-size: 1.26rem;
  font-weight: normal;
  color: #101010 94%;
}
.black-btn,
.red-btn {
  width: 20.66rem;
  height: 3rem;
  display: block;
  margin: 1rem auto;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  border-radius: 3rem;
  box-shadow: 0 4px 6px 1px rgba(25, 94, 215, 0.4);
}
.red-btn {
  background-color: #ef0505;
}
.black-btn {
  background-color: #625f5f;
}
@font-face {
  font-family: iconfont;
  src: url(../fonts/iconfont.ttf) format('truetype');
}
.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-shezhi:before {
  content: "\e62d";
}
.icon-right:before {
  content: "\e634";
}
.icon-yinghangka:before {
  content: "\e66a";
}
.icon-zuo:before {
  content: "\e61c";
}
.icon-ai-book:before {
  content: "\e62e";
}
.icon-tupian:before {
  content: "\e64a";
}
.icon-caidan:before {
  content: "\e691";
}
.icon-caidan2:before {
  content: "\e653";
}
.icon-caozuo:before {
  content: "\e60a";
}
.icon-tianjia:before {
  content: "\e617";
}
.icon-gouwuche:before {
  content: "\e681";
}
.icon-bi:before {
  content: "\e62f";
}
.icon-rili:before {
  content: "\e607";
}
.icon-fujian:before {
  content: "\e608";
}
.icon-sousuo:before {
  content: "\e618";
}
.icon-shaixuan:before {
  content: "\e630";
}
.icon-caidan_wujiaoxingman:before {
  content: "\e6b4";
}
.icon-caidan_wujiaoxingkong:before {
  content: "\e6b5";
}
.zs-content {
  width: 100%;
  height: 44.73rem;
  background: url(../images/zs_bg.jpg) no-repeat left top;
  background-size: cover;
  position: relative;
}
.zs-content .zs-title {
  text-align: center;
  padding-top: 7.93rem;
  padding-bottom: 4.13rem;
  color: #101010;
}
.zs-content .item {
  padding-left: 3.8rem;
  padding-bottom: 1.8rem;
  font-size: 1.2rem;
  color: #0912DD;
}
.zs-content .item > span {
  color: #101010;
  margin-left: 1.8rem;
}
.zs-content .item-right {
  padding-left: 9.6rem;
}
.zs-content .zs-tx {
  position: absolute;
  width: 6.66rem;
  height: 7.66rem;
  top: 15.06rem;
  left: 15.06rem;
}
