.card {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 0.5rem;
}
.card.no-margin {
  margin-top: 0;
}
.card.no-margin p {
  padding: 1rem 0;
  text-align: center;
}
.card.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.card .title {
  font-size: 1.33rem;
  color: #101010;
  text-align: center;
}
.card .tip {
  padding-top: 1.33rem;
  text-indent: 2em;
  font-size: 0.93rem;
  color: #101010;
}
.card .icon-fujian {
  color: #A22D2D;
  font-size: 1.6rem;
  line-height: 3.26rem;
}
.card .icon-fujian:before {
  vertical-align: middle;
}
.card .file-name {
  line-height: 3.26rem;
  color: #333;
}
.sub-title {
  line-height: 2.2rem;
}
