.content {
  margin-top: 1rem;
  background-color: #fff;
  padding: 0.8rem;
}
.content h3 {
  font-size: 1.06rem;
  color: #101010;
  padding-bottom: 0.5rem;
}
.content .video-item {
  display: flex;
  margin-bottom: 0.66rem;
}
.content .video-item:hover .video-title,
.content .video-item:hover .play-num {
  color: #FB3777 !important;
}
.content .video-item .video-img {
  width: 8.93rem;
  height: 5.26rem;
  border-radius: 4px;
}
.content .video-item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.content .video-item .info .video-title {
  color: #333;
  font-size: 1.06rem;
}
.content .video-item .info .play-num {
  font-size: 0.93rem;
  color: #999;
}
